---
## Default Kibana configuration from Kibana base image.
## https://github.com/elastic/kibana/blob/master/src/dev/build/tasks/os_packages/docker_generator/templates/kibana_yml.template.js
#
server.name: kibana
server.host: 0.0.0.0
elasticsearch.hosts: [ "http://elasticsearch:9200" ]
monitoring.ui.container.elasticsearch.enabled: true

## X-Pack security credentials
#
elasticsearch.username: "{{ elk_kibana_elastic_username }}"
elasticsearch.password: "{{ elk_kibana_elastic_password | default('') }}"

{% for line in elk_kibana_config_lines %}
{{ line }}
{% endfor %}
